body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

div {
    max-width: 75%;
    margin: auto;
}

.main-container {
    text-align: center;
    padding: 1.2em;
    margin-top: 8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    max-width: 45%;
}

#next-button {
    border-width: 0.1em;
    border-color: black;
    padding: 0.9em 2em;
    border-radius: 2em;
    color: white;
    margin-top: 1.3em;
    cursor: pointer;
    background-color: #dab12d;
    transition: background-color 0.3s ease;
}

#next-button:hover {
    background-color: rgb(160, 118, 4);
}

.emoji-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

#weather-div {
    display: flex;
    align-items: center;
    background: none;
    padding: em 1em;
    width: fit-content;
    margin-right: 90%;
}

.weather-icon {
    width: 5em;
    height: 5em;
}

.divider {
    width: 1px;
    height: 2em;
    background-color: black;
    margin-left: -0.5em;
    margin-right: 0.5em;
}

.temperature {
    font-weight: bold;
}